*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #121214;
    background-image: url(./assets/bg.svg);
    background-position-y: 53.7%;
    background-position-x: center;
}

body *{
    font-family: 'Roboto', sans-serif;

}

.title{
    color:#f7dd43;
    font-size: 40px;
    font-weight: 700;
}

#app{
    width: fit-content;
    margin: 52px auto;
    color: white;
}

header{
    margin-bottom: 63px;
    display: flex;
    justify-content: center;
}

.lista{
    margin: 10px 0 0 0px;
    border: 2px solid #f7dd43;
    border-radius: 10px;
    padding: 30px 23px;
}

button{
    background: white
}


.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
}

.card{
    background: #1D1C19;;
    border-radius: 6px;
    border-bottom: 2px solid #F7DD43;
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 23px;
}
.card h2{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border: 1px solid #746615;
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 53px;

    color: #f7dd43;

}

.card h2 span{
    font-weight: 700;
    font-size: 14px;
    color: #E1E1E6;
    text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
  }

.card ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.bandContainer{
    border: 1px solid white;
    padding: 10px;
    color: white;
}

.card ul li + li{
    padding-top: 24px;
    border-top: 1px solid #323238;
}

.card ul li strong{
    font-weight: 900;
    font-size: 36px;
    color: #E1E1E6;
}
