* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #11111d;
  color: white;
  background-image: url("../../assets/icons/bg-luz.svg");
  background-position-y: 53.7%;
  background-position-x: center;
}

body * {
  font-family: "Roboto", sans-serif;
}

.app {
  width: fit-content;
  margin: auto;
  color: white;
}

.lista {
  background: #16171a;
  margin: 10px 0 0 0px;
  border-right: 1px solid #f2bd31;
  border-bottom: 1px solid #f2bd31;
  border-radius: 10px;
  padding: 15px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.lista span {
  padding: 5px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardSemi {
  display: flex;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 32px;
}

.card {
  background: #16171a;
  border-radius: 6px;
  border-bottom: 1px solid #f2bd31;
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 23px;
  margin: 10px;
}
.card h2 {
  display: flex;
  gap: 16px;
  margin-inline: auto;
  color: #f2bd31;
}

.cardTitle {
  display: flex;
  border-bottom: 1px solid #746615;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonFlags:hover {
  cursor: pointer;
}

.buttonFlags {
  background: none;
  border: none;
  position: relative;
}

.flagWrapper {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.bandPicked {
  width: 70px;
  height: 80px;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
  padding-top: 10px;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
}
.bandPickedHover {
  background: rgba(255, 255, 255, 0.1);
}

.cardCampeao {
  background: #16171a;
  border-radius: 6px;
  border-bottom: 1.3px solid #f2bd31;
  border-top: 1.3px solid #f2bd31;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 23px;
  margin: 10px;
}

.cardCampeao img {
  color: #f2bd31;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.cardCampeao ul li {
  display: flex;
}

.submitButton {
  display: flex;
}

.submitButton button {
  margin: 10px auto;
  height: 37px;
  width: 40%;
  background-color: #f2bd31;
  border-radius: 6px;
  border: none;
}

.submitButton button:hover {
  transition: 400ms;
  cursor: pointer;
  background-color: #ad8824;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  color: #e1e1e6;
}
