.Container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #11111d;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.center {
  display: flex;
  padding: 0 2%;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1280px;
}

header {
  height: 200px;
  padding: 20px 0;
}

.menu a:hover {
  color: #009c3b;
}
.extras img {
  display: flex;
  flex-direction: row-reverse;

  overflow-y: hidden;
  overflow-x: hidden;
}
.sobre {
  height: calc(100% - 200px);
  position: relative;
}

.extras {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 550px;
  height: 250px;
}

.intro {
  margin-top: 30px;
}

.intro h1 {
  font-size: 40px;
}

.intro p {
  margin: 20px 0;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.intro button {
  position: relative;
  font-size: 11px;
  font-family: "Montserrat", sans-serif;
  width: 80px;
  height: 35px;
  border-radius: 20px;
  color: #fff;
  background: #009c3b;
  cursor: pointer;
}
.intro button:hover {
  background: #f2bd31;
}
